.footer {
  margin-top: 5%;
  height: 50vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(to top, #000000 0%, #000000 100%);
  overflow: hidden;
}

.wave {
  width: 1000px;
  height: 1025px;
  position: absolute;
  left: 50%;
  margin-left: -500px;
  margin-top: -500px;
  border-radius: 35%;
  background: rgba(52, 50, 50, 0.75);
  animation: wave 15s infinite linear;
}

@keyframes wave {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

.list {
  display: flex;
  height: 100%;
  width: 30%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.list h1 {
  color: white;
  white-space: nowrap;
  font-size: 1rem;
  text-align: center;
  margin-top: 5%;
  animation: Names 10s infinite linear;
}

@keyframes Names {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}


